<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidx.filePicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="com.androidx.filePicker.utils.FilePickerProvider"
            android:authorities="${applicationId}.filePicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepicker_provider_paths" />
        </provider>

        <activity
            android:name="com.androidx.filePicker.activity.FilePickerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.androidx.filePicker.activity.DirSelectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>